<h1>{{ quiz.name }}</h1>

{%  if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'quizzes:answer' quiz.id %}" method="post">
    {% csrf_token %}
    {% for question in quiz.question_set.all %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
        {% endfor %}
    {% endfor %}

    <input type="submit" value="Answer" />

</form>
